/*---

# A GitHub theme for mdcss

[mdcss GitHub](https://github.com/jonathantneal/mdcss-theme-github)
is a theme for [mdcss](https://github.com/jonathantneal/mdcss)
based on the documentation styles seen across GitHub.

*/

* {
	box-sizing: border-box;
}

/*---
title: Overview
---

The template for this theme can be found in `template.ejs`,
which contains the markup used to build out the logo,
navigation, and main content. The styles you see around you
can found inside `assets/style.css`. The primary scripting
is handled in `assets/script.js`, but [prism](http://prismjs.com/)
is used for syntax highlighting within code blocks, and
`assets/examples.color.js` and `assets/examples.html.js`
are used for special example code blocks.

*/

body {
	margin: 0;
	padding: 20px;
}

@media screen and (min-width: 640px) {
	body {
		display: flex;
		padding: 30px 30px 90px;
	}

	header {
		width: 250px;
	}
}


/*---
title:   Logos
section: Overview
---

The logo for this theme may be configured by setting the
`logo` option in either in mdcss or this theme.

```js
require('mdcss')({
	theme: require('mdcss-theme-github')({
		logo: 'path/to/my/logo.svg'
	})
});
```

*/

nav > img {
	margin: 0 25px 20px;
	max-width: calc(250px - (30px * 2));
}

/*---
title:   Colors
section: Overview
---

Color examples may be generated by using a `color_example`
code block.

```color_example
@name: Firebrick @color: #ae1e23              @var: --red-firebrick
@name: Dark Fire @color: rgba(150,100,100,.8) @var: --red-dark-fire
@name: Platinum  @color: #e0e3e2              @var: --grey-platinum
```

```css
/​*---
title:   Colors
section: Overview
---

Color examples may be generated by using a `color_example`
code block.

​`​``color_example
@name: Firebrick @color: #ae1e23              @var: --red-firebrick
@name: Dark Fire @color: rgba(150,100,100,.8) @var: --red-dark-fire
@name: Platinum  @color: #e0e3e2              @var: --grey-platinum
​`​``
*​/
```
*/

.color {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	width: 160px;
}

.color:not(:last-child) {
	margin-right: 40px;
}

.color-swatch {
	border-radius: 50%;
	height: 160px;
	line-height: 160px;
	margin-bottom: 10px;
	text-align: center;
	width: 160px;
}

.color-property {
	font-size: 80%;
	font-weight: 700;
	padding: 0 10px;
}

.color-property::before {
	content: attr(data-name) ":\00a0";
	display: inline-block;
	font-weight: 300;
	min-width: 3em;
}

body {
	background-color: #fff;
	color: #333;
}

/*---
title:   Typography
section: Overview
---

This theme uses a common Helvetica font stack with a relative line height of
1.6 times the font size.

*/

body {
	font-family: "Helvetica Neue", "Helvetica", "Segoe UI", "Arial", "freesans", sans-serif;
	line-height: 1.6;
}

/*---
title:   Headings
section: Typography
---

Headings match GitHub documentation conventions. In this theme, you can add
`_example` to your code blocks to add a living example to your style guide.

```html_example
<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>
```

*/

h1 {
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee;
	margin-bottom: 1rem;
	margin-top: 1em;
	padding-bottom: .3em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.225;
	border-bottom: 1px solid #eee;
	margin-bottom: 1rem;
	margin-top: 1em;
	padding-bottom: .3em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.43;
	margin-bottom: 1rem;
	margin-top: 1em;
}

h4 {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1rem;
	margin-top: 1em;
}

h5, h6 {
	font-size: 1em;
	line-height: 1.4;
	margin-bottom: 1rem;
	margin-top: 1em;
}

h6 {
	color: #777;
}

code {
	background-color: rgba(0,0,0,.04);
	border-radius: 3px;
	font-family: "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
	font-size: 85%;
	margin: 0;
	padding: .2em 0;
}

/*---
title:   Iconography
section: Overview
---

This site has no icongraphy.

*/

/*---
title: Layout
---

We use flex to horizontally stack the heading and main content areas.
The navigation uses fixed position to stay on the screen as you scroll.

*/

main {
	word-wrap: break-word;
}

@media screen and (min-width: 640px) {
	main {
		max-width: 50em;
		width: calc(100% - 250px);
	}
}

main > section {
	margin-bottom: 80px;
}

p,
pre {
	margin: 0 0 1rem;
}

pre code {
	display: block;
	line-height: 1.45;
	overflow: auto;
	padding: 1rem;
}

hr {
	background-color: #e7e7e7;
	border: 0 none;
	height: 4px;
	margin: 1rem 0;
	padding: 0;
}

a {
	color: #4078c0;
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

@media screen and (min-width: 640px) {
	nav {
		position: fixed;
		width: calc(250px - 30px);
	}
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav a {
	color: #565454;
	display: block;
	font-size: .875rem;
	line-height: 1.2;
	padding: 5px 25px;
}

nav a:hover,
nav a:focus {
	background-color: #f8f8f8;
	text-decoration: none;
}

nav > ul > li {
	margin-bottom: 20px;
}

nav > ul > li > a {
	color: #767676;
	font-size: .75rem;
	font-weight: 300;
	letter-spacing: .025em;
	overflow: hidden;
	text-transform: uppercase;
	padding: 5px 25px;
	text-overflow: ellipsis;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
	color: #5f5f5f;
}

nav > ul > li > a > span {
	box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}

.token.punctuation {
	color: #333;
}

.token.tag {
	color: #218200;
}

.token.attr-name {
	color: #795da3;
}

.token.attr-value {
	color: #183691;
}

.token.function {
	color: #0086b3;
}

.token.string {
	color: #183691;
}

.token.comment {
	color: #969896;
}

.example {
	box-shadow: inset 0 0 0 3px #f7f7f7;
	border-radius: 3px;
	overflow: auto;
	margin: 0;
	padding: 16px;
}

/*---
title: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

/*---
title:   Hero
section: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

/*---
title:   Figure
section: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

/*---
title:   Blockquote
section: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

/*---
title:   Media
section: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

/*---
title:   Aspect
section: Visual Language
---

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores
temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error
ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.

*/

:root {
	background-color: #ffffff;
}
